body {
  background-color: #011126;
  text-align: center;
  font-family: futura;
  color: #8283C3;

}

.loadingScreen {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

.dark {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin-top: -25px;
  padding-top: 25px;
}

.text1 {
  /* color: white; */
  position: absolute;
  margin-top: -450px;
  margin-left: 650px;
}

.title {
  font-size: 50px;
}